.footer{
    background-color: #371154;
    height: 125px;
    padding-top: 27px;
    padding-bottom: 22px;
    padding-right: 45px;
    padding-left: 25px;
    display: flex;
    justify-content: space-between;
}
.dark {
    background-color: black;
}
.IEEE-container{
    display: flex;
    flex-direction:column;
    
}
.IEEE-icon{
    width: auto;
    margin-bottom: -4px;
}
.IEEE-text{
    font-family: sans-serif;
    font-weight: 10;
    font-size: 23px;
    color:#FFCD19;
    align-self: flex-end;
    padding-right: 0px;
}
.socials-container{
    display: grid;
    align-self: self-end;    
    grid-template-columns: repeat(4, auto);
    column-gap: 9px;
}
.social-icon{
    width: 60px;
    height: 60px;
}
.social-icon:hover{
    opacity: .7;
    transition: .4s;
}
.social-icon:active{
    opacity: .5;
    transition: .1s;
}
@media(max-width: 768px){
    .footer
    {
        height: 215px;
    }
}